body {
  background-color: #000000;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ffffff;
}

li {
  font-size: 1.5em;
  margin: 0 25%;
}

button[type=button] {
  color: white;
  width: 15%;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

input[type=text] {
  border: gray solid 2px;
  padding: .5em;
  width: 30%;
}

ul {
  list-style: none;
}

.lists {
  text-align: left;
}

.fa, .fa-square-o, .fa-check-square {
  margin-right: .75em;
}

i {
  margin-right: .75em;
}

#next-btn {
  background-color: #990000;
  padding: .5em 1em;
  color: white;
  width: 15%;
  border: none;
  margin-top: 5%;
}

.list-style {
  list-style: none;
}
button[disabled], html input[disabled] {
  cursor: not-allowed;
  background-color: grey;
}

button {
  cursor: pointer;
}

li:hover .delete-btn{
  display: inline;
}

.margin-top {
  margin-top: 4%;
}

.tv {
  margin: 0 auto;
  width: 50%;
}

.question{
  margin-top: 8%;
}

#next-question {
  background-color: #990000;
  padding: .5em 1em;
  color: white;
  width: 15%;
  border: none;
  margin-top: 5%;
}

label {
  color: #ffffff;
  margin-left: 1%;
}

/*input[type=radio] {
  margin-left: 4%;
}*/

@media (max-width: 700px) {
  input[type=text], input[type=button] {
    width: 60%;
  }
  input[type=button] {
    margin-top: .5em;
  }
}

@media (max-width: 625px) {
  p {
    font-size: 1.25em;
    margin: 0 15%;
  }
}